.container {
  height: 100%;

  mat-toolbar {
      background-color: #4a4a4a;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      & h1 {
          font-family: 'Ubuntu Mono', monospace;
          font-size: 32px;
          color: #dddcdc;
          cursor: pointer;
      }

      nav {
        display: flex;
        justify-content: center;
        ul {
          display: flex;
          list-style: none;

          li {

            a {
              text-decoration: none;
              border: none;
              border-bottom: 2px solid #dddcdc;
              background-color: transparent;
              font-size: 16px;
              color: #dddcdc;
              cursor: pointer;

              transition: all 200ms linear;

              &:hover {
                font-weight: bold;
              }
            }
          }
        }
      }
  }
}

.ml-30 {
  margin-left: 30px;
}

@media (max-width: 400px) {

  .container {

    mat-toolbar {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
  }

}


