<main>
  <div>
    <img src="../../../../assets/medicine.svg" alt="">
  </div>

  <mat-table #table [dataSource]="this.dataSource">
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.nome}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="medidaDiastolica">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Diastólica </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.medidaDiastolica}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="medidaSistolica">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sistólica </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.medidaSistolica}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="batimentosCardiacos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Batimentos </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.batimentosCardiacos}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataDoRegistro">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data/Hora </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.dataDoRegistro}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="this.displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: this.displayedColumns;"></mat-row>
  </mat-table>
</main>


