main {
  margin: 80px auto 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  div {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 600px;
        margin-top: 20px;
    }
  }

  .mdc-data-table__table {
    min-width: 830px;

    .mat-column-nome,
    .mat-column-medidaDiastolica,
    .mat-column-medidaSistolica,
    .mat-column-batimentosCardiacos,
    .mat-column-dataDoRegistro {
      min-width: 200px;
      max-width: 200px;
    }
  }

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #949393;
}

::-webkit-scrollbar-thumb:hover {
  background: #858484;
}

@media (max-width: 500px) {

  main {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    div {
      margin-bottom: 20px;

      img {
        width: 330px;
      }
    }

    .mat-mdc-table {
      min-width: 100%;
      width: 100%;
      max-height: 500px;
      overflow: auto;

      .mat-column-nome,
      .mat-column-medidaDiastolica,
      .mat-column-medidaSistolica,
      .mat-column-batimentosCardiacos,
      .mat-column-dataDoRegistro {
        min-width: 100px;
        max-width: 100px;
      }
    }
  }
}

@media (min-width: 1200px) {

  main {

    div {
      margin-bottom: 20px;

      img {
        width: 450px;
      }
    }

    .mat-mdc-table {
      min-width: 680px !important;

      .mat-column-nome,
      .mat-column-medidaDiastolica,
      .mat-column-medidaSistolica,
      .mat-column-batimentosCardiacos {
        min-width: 150px;
        max-width: 150px;
      }

      .mat-column-dataDoRegistro {
        min-width: 200px;
        max-width: 200px;
      }
    }

  }

}

@media (min-width: 1880px) {

  main {
    width: 100%;
    margin: 100px auto 0;
    div {
      img {
        width: 690px;
      }
    }
  }

}
